body {
	padding:0;
	margin:0;
}
header {
	background-color: black;
	color:white;
	height:100%;
}
.tabs {
	padding:0;
	list-style: none;
}
.tabs > li{
	margin:0;
	display:inline;
}
.inline-items > li {
	margin:0;
	display:inline;
}
.active {
	outline:gray;
}
.compact-dl dt,.compact-dl dd {
	display: inline;
}
.compact-dl dt:after {
	content: ':';
}
.compact-dl dd {
	margin-left:0;
}
footer {
	background-color: silver;
	clear: both;
}
#image-panel {
	background-color: black;
	text-align: center;
}
#main-menu {
	list-style: none;
	background-color:white;
	padding:0;
}
#menu {
	width:5em;
	float:left;
}
#logo {
	width:80%;
	float:right;
}
@media screen and (max-width: 480px) {
	#menu {
		position:absolute;
		top:0;
		left:0;
	}
	#SS pre {
		white-space: pre-wrap;
	}
}
@media screen and (min-width: 480px) {
	.stories {
		float:left;
		width:50%;
	}
	#story-description {
		float:left;
		width:50%;
	}
}
